/*
 * GENERAL
 */
html, body, ul, ol, li, p {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
}


/*
 * HELPER
 */
.text-bold {
	font-weight: bold;
}
.text-italic {
	font-style: italic;
}
.text-center {
	text-align: center;
}
.wrapper {
	box-sizing: border-box;
	display: block;
	width: 70%;
	margin: 40px auto 0;
}
.divider {
	width: 25%;
	height: 1px;
	margin: 0 auto;
	background-color: #999;
}
img.icon {
	width: 20px;
	height: 20px;
	vertical-align: text-bottom;
}

/*
 * SPECIFIC
 */
section {
	padding: 20px;
	border: 2px dashed #000;
	position: relative;
}
section .title {
	padding: 0 10px;
	background-color: white;
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	top: -0.75em;
}
section .text {
	font-size: 1.1em;
}
section .text + .text {
	margin-top: 30px;
}
section .text::after {
	content: '';
	display: block;
	clear: both;
}
section .box-left {
	width: 50%;
	float: left;
}
section .box-right {
	width: 50%;
	float: right;
}
section .skill_list {
	list-style: none;
}
section .skill_list > li {
	min-width: 200px;
	margin: 10px;
	float: left;
}
section .skill_list > li > span {
	border: 1px solid;
	margin-left: 5px;
	padding: 2px 5px;
  	vertical-align: middle;
}